td {
  padding-right: 30px;
}

.label {
  &--spaced {
    margin-right: 30px;
  }
}

.input {
	width: 500px;

  &--full-width {
    width: 100%;
  }

	&--small {
		width: 150px;
	}

	&--medium {
		width: 295px;
	}
}

.checkbox {
  &--spaced {
    margin-right: 20px;
  }
}